################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/MinnieWeb
/.$Minnie網站.drawio.bkp
/Minnie網站.drawio
/閱讀網站_需求分析.docx
/Fitness/Fitness_Service/bin/Debug/net6.0
/Fitness/Fitness_Service/obj
/Fitness/Fitness_EF/bin/Debug/net6.0
/Fitness/Fitness_EF/obj
/Fitness/Fitness/bin/Debug/net6.0
/Fitness/Fitness/obj
/Fitness/Entity/bin/Debug/net6.0
/Fitness/.vs
/.gitignore
