################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/MinnieWeb
/.$Minnie網站.drawio.bkp
/Minnie網站.drawio
/閱讀網站_需求分析.docx
