@model Fitness.ViewModels.VMMember

@{
    ViewData["Title"] = "會員註冊";
    var ls_message = ViewBag.Message;
}

@if (ViewBag.AlertMessage != null)
{
    <script>
        alert('@ViewBag.AlertMessage');
    </script>
}

<div class="center row">
    <div class="card text-center col-6">
        <div class="card-body">
            @* 頁籤 *@
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                @* 註冊 *@
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" style="color:black;" id="Register-tab" data-bs-toggle="tab" data-bs-target="#Register" type="button" role="tab" aria-controls="Register" aria-selected="true">會員註冊</button>
                </li>
                @* 登入 *@
                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="color:black;" id="Login-tab" data-bs-toggle="tab" data-bs-target="#Login" type="button" role="tab" aria-controls="Login" aria-selected="false">會員登入</button>
                </li>
            </ul>
            @* 分頁 *@
            <div class="tab-content" id="myTabContent">
                @* 註冊 *@
                <div class="tab-pane fade show active" id="Register" role="tabpanel" aria-labelledby="Register-tab">
                    <partial name="_Register" />
                </div>
                @* 登入 *@
                <div class="tab-pane fade" id="Login" role="tabpanel" aria-labelledby="Login-tab">
                    <partial name="_Login" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



